<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password-recovering.css' %}">
    <title>Password Recovering</title>
</head>
<body>
    <div id="notification">
        <img src="{% static 'images/forgetpassword/fix-website.png' %}" alt="Maintainance" id="maintain-image">
        <h2>CHỨC NĂNG NÀY HIỆN ĐANG TRONG QUÁ TRÌNH PHÁT TRIỂN VÀ SẼ ĐƯỢC CẬP NHẬT SỚM TRONG THỜI GIAN TỚI.</h2>
        <h2>MONG QUÝ KHÁCH THÔNG CẢM VÌ SỰ BẤT TIỆN NÀY !!!</h2>
        <h4><a href="{% url 'signin' %}">Đã nhớ mật khẩu </a></h4>
    </div>
</body>
</html>