
{% extends "detail/dtbase.html" %}
{% load static %}
{% comment %} {% block navi_bar_login %}
    {% for user in Query %}
    <div class="navigation-bar">
        <ul class="bg-nav-bar">
            <li><a href="#posting-tab" value="showtext">Đăng bài</a></li>
            <li><a href="{% url 'profile' %}">Hello, {{user.last_name}} {{user.first_name}}! </a></li>
            <li><a href="{% url 'logout' %}">Đăng suất</a></li>             
        </ul>
    </div>
    {% endfor %}
{% endblock  %} {% endcomment %}
{% block navi_bar_login %}
    {% if user.username %}
        <div class="navigation-bar">
            <ul class="bg-nav-bar">
                <li><a href="{% url 'blog' %}" value="showtext">Đăng bài</a></li>
                <li><a href="{% url 'signin' %}">Đăng nhập</a></li>
                <li><a href="{% url 'signup' %}">Đăng ký</a></li>             
            </ul>
        </div>
    {% else %}
        <div class="navigation-bar">
            <ul class="bg-nav-bar">
                <li><a href="{% url 'blog' %}" value="showtext">Đăng bài</a></li>
                <li><a href="{% url 'loginprofile' %}">Hello, {{user.last_name}} {{user.first_name}}! </a></li>
                <li><a href="{% url 'logout' %}">Đăng suất</a></li>             
            </ul>
        </div>
    {% endif %}
{% endblock  %}

{% block content %}
	<div class="blog-left">
		{% comment %} <div class="task">
			Blog
			>
			Inside Mockplus
			> Lorem ipsum dolor sit amet, consectetur adipisicing elit
		</div> {% endcomment %}
		<div class="blog-header">
			<h1>{{DetailPost.title_post}}</h1>
		</div>
		<div class="date-follow">
			<div class="time">
				 <span> 
				 <img src="{% static 'images/detail_image/icon1.png' %}" id="icon" alt="">
				 </span> 
				<span>{{DetailPost.pub_date_post}}</span>
			</div>
			<div class="follower">
				<span>
				<img src="{% static 'images/detail_image/icon2.png' %}" id="icon">
				</span>
				<span>12512 follower</span>
			</div>
		</div>
		<br>
		<p>--------------------------------------</p>
		<br>
		<div id="post-content">
			<center><img src="{{DetailPost.image_post.url}}" width=400px height=250px/></center>
			<p>{{DetailPost.body_post}}</p>
			{{DetailPost.body|safe|linebreaks}}
		</div>
	</div>
	

	<div class="blog-right">
		<h2>POPULAR POST</h2>
		<div class="list">
			<a href="#">
			<div class="over-flow">
				<div class="img-div">
					<img src="{% static 'images/bg3.jpg'%}">
				</div>
				<div class="text-div">
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</div>
			</div>
			</a>
			<a href="#">
			<div class="over-flow">
				<div class="img-div">
					<img src="{% static 'images/bg3.jpg'%}">
				</div>
				<div class="text-div">
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</div>
			</div>
			</a>
			<a href="#">
			<div class="over-flow">
				<div class="img-div">
					<img src="{% static 'images/bg3.jpg'%}">
				</div>
				<div class="text-div">
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</div>
			</div>
			</a>
			<a href="#">
			<div class="over-flow">
				<div class="img-div">
					<img src="{% static 'images/bg3.jpg'%}">
				</div>
				<div class="text-div">
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</div>
			</div>
			</a>
			<a href="#">
			<div class="over-flow">
				<div class="img-div">
					<img src="{% static 'images/bg3.jpg'%}">
				</div>
				<div class="text-div">
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</div>
			</div>
			</a>
		</div>
	</div>
{% endblock  %}

{% block post %}
	<div class="masonry">
<!--		{% for post in Posts %}
			<div class="brick">
				<img src="{{DetailPost.image_post.url}}" alt="{{DetailPost.title_post}}" title="{{post.title_post}}"/>
				{% comment %} <h5>{{post.pub_date_post}}</h5> {% endcomment %}
				{% comment %} 
				Or implement like this to define how the date-time displays
				<h4>{{post.pub_date|date:"d-M-Y"}}</h4> 
				{% endcomment %}
				<p>{{DetailPost.body_post}}</p>
			</div>
		{% endfor %} -->
	</div><!-- .masonry -->
{% endblock post %}

{% block comment %}
	{% for comment in DetailPost.comments.all %}
		<h4><strong>{{comment.author}}</strong></h4>
		<h6><p>{{comment.date_cmt}}</p></h6>
		<p>{{comment.content_cmt|linebreaks}}
	{% endfor %}

	{% if user.username %}
		<form action="{% url 'comment' DetailPost.id %}" method="POST">
			{% csrf_token %}
			<p><label>Bình luận:</label></p>
			{{form.body}}
			<br/>
			<input type="submit" value="Bình luận"/>
		</form>
	{% endif %}
{% endblock comment %}